{% extends "base.html" %}
{% block content %}
<div class="rightCol">
    {% if books %}
        <h1>Все книги в Библиотеки</h1>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Автор</th>
                <th>Год</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.years}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h1>Книга пока невыбрана</h1>
    {% endif %}
</div>
{% endblock %}
