{% extends "base.html" %}
{% block content %}
<div class="rightCol">
    {% if message %}
    <h2>{{message}}</h2>
    <br><br>
    {% endif %}

    {% if books %}
        <h1>Выбрать книгу для удаления</h1>
        <form method="post">
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Год</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td><input type="checkbox" name="{{book.id}}"></td>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.years}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <center>
                <button type="submit" class="minWidth">Удалить книгу</button>
                <button type="reset" class="minWidth">Отмена</button>
            </center>
        </form>
    {% else %}
    <h1>Книга пока не выбрана</h1>
    {% endif %}
</div>
{% endblock %}
