{% extends "base.html" %}
{% block content %}

{% if message %}
    <h2>{{message}}</h2>
    <br><br>
{% endif %}
{% for category, message in get_flashed_messages(with_categories=true) %}
	<h2>{{ message }}</h2>
    <br><br>
{% endfor %}


<div class="signInCol" id="signIn">
    <form method="post">
        <h1>Ввести</h1><br>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="psw" placeholder="Password" required>

        <br><br>
        <center><button type="submit" class="minWidth">Ввести</button></center>
    </form>
</div>
{% endblock %}
