{% extends "base.html" %}
{% block content %}

{% if message %}
    <h2>{{message}}</h2>
    <br><br>
{% endif %}


<div class="signInCol" id="signIn">
    <form method="post">
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>

        <h1>Регистрация</h1><br>
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" id="password" name="psw" placeholder="Password" required>
        <input type="password" id="confirm_password" placeholder="Confirm Password" required>

        <br><br>

        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="surname" placeholder="Surname" required>
        <input type="text" name="years" placeholder="Year of birth" required>

        <br><br>

        <center><button type="submit" class="minWidth">Регистрация</button></center>
    </form>
    <script>
        var password = document.getElementById("password")
          , confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
          if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
          } else {
            confirm_password.setCustomValidity('');
          }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</div>
{% endblock %}
